@font-face {
    font-family: 'TBC X';
    src: url('../fonts/TBCX-Regular.eot');
    src: url('../fonts/TBCX-Regular.eot') format('embedded-opentype'),
        url('../fonts/TBCX-Regular.woff2') format('woff2'),
        url('../fonts/TBCX-Regular.ttf') format('woff'),
        url('../fonts/TBCX-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TBC XX';
    src: url('../fonts/TBCX-Black.eot');
    src: url('TBCX-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TBCX-Black.woff2') format('woff2'),
        url('../fonts/TBCX-Black.woff') format('woff'),
        url('../fonts/TBCX-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




